<!DOCTYPE html>
<html>
  <head>
    <title>Sssmh</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>    

    <%= yield :head %>

	<script type="text/javascript">

	    $(document).ready(function() {
	        $.fn.serializeFormJSON = function () {
	            var o = {};
	            var a = this.serializeArray();
	            $.each(a, function () {
	                if (o[this.name]) {
	                    if (!o[this.name].push) {
	                        o[this.name] = [o[this.name]];
	                    }
	                    o[this.name].push(this.value || '');
	                } else {
	                    o[this.name] = this.value || '';
	                }
	            });
	            return o;
	        };
	    });

		function change_sub_menu_highlight(){
			var page_loaded = $(location).attr('pathname').replace(/\//,'');
			$('#sub_menu_div').find('a').each(function(){
				if(page_loaded==''){
					$('#about_us').parent().addClass("current");
				}else if($(this).attr('id') == page_loaded){
					$(this).parent().addClass("current");
				}

			})
		}

		function load_page(page_to_load){
			$(location).attr('href',page_to_load);
		}
	</script>

  </head>

  <body class="body_css" onload="change_sub_menu_highlight();">

    <%= yield :scripts %>

  	<div style="width: 100%;" align="center">
  		<div style="width: 80%" align="center">
		  	<header">
		  		<img src="/assets/header.png">

		  		<div style="border-bottom: 1px dotted;height: 50px;z-index: 10;border-radius:20px">
			  		<div style="float: right; padding-top: 10px;" id="sub_menu_div">
						<ul class="snip1135">
						  <!-- <li class="current"> -->
						  <li>
						  	<a id='about_us' onclick="load_page('/about_us')" href="#" data-hover="About Us">About Us</a>
						  </li>
						  <li><a id='services' onclick="load_page('/services')"  href="#" data-hover="Services">Services</a></li>

						  <li><a id='impact' onclick="load_page('/impact')" href="#" data-hover="Impact">Impact</a></li>

						  <li><a id='gallery' onclick="load_page('/gallery')" href="#" data-hover="Gallery">Gallery</a></li>

						  <li><a id='statistics' onclick="load_page('/statistics')" href="#" data-hover="Statistics">Statistics</a></li>

						  <li><a id='contact' onclick="load_page('/contact')" href="#" data-hover="Contact">Contact</a></li>

						  <% if user_signed_in? %>
							  <li><a id='backend' onclick="load_page('/backend')"  href="#" data-hover="MH Backend">MH Backend</a></li>
						  <% end %>

						</ul>
			  		</div>
		  		</div>
		  		<div style="float: right;padding-top: 10px;">
					<% if user_signed_in? %>
					  Logged In : <strong><%= current_user.email %></strong> | 
					  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
					<% end %>
		  		</div>

		  	</header>

			<div style="text-align: justify;">&nbsp;</div>

			<div class="main_div_class" align="left">
			    <%= yield %>
		    </div>
  		</div>
	    <footer>
	  		<div align="center" class="footer_parent">
		    	<div class="footer_class" style="padding-bottom: 15px;">
			  		<div style="float: right;">
			  			Copyright © <%= Time.current.year %> Sri Sathya Sai Central Trust
			  		</div>
				</div>
			</div>
	    </footer>

   </div>
  </body>
</html>
